* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-row h3 {
    color:#178dfc;
}

.my-col {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5%;
    background-color: #a5e2fa;
    border-radius: 15px;
}

.fa-solid {
    color: #2795fc;
    text-align: center;
}

.hamburger-container {
    color: white;
}

.bg-main {
    background-color: #2795fc;
}

.bg-secondary {
    padding: 20px 10px;
    background-color: #9d8cfd;
    border-radius: 20px;
}

.bg-secondary h2 {
    text-align: center;
}

.bg-white {
    background-color: white;
}

.color-white {
    color: white;
}

header {
    background-color: #2795fc;
}

#main-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

#main-nav-container img {
    height: 24px;
}

#main-nav-container nav {
    display: none;
}

#main-nav-container nav li {
    display: inline-block;
}

#main-nav-container nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

main > section {
    padding: 40px 10%;
}

.phone-img-container {
    width: 200px;
    height: 200px;
    align-items: flex-end;
}

.phone-img-container img {
    width: 100%;
    height: 100%;
}

.planning-img-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.planning-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-container > * {
    margin-bottom: 20px;
}

.testimonials-header-container,
.testimonials-container > * {
    text-align: center;
}

.testimonial-img-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px auto;
}

.testimonial-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-us-container button {
    background-color: #9d8cfd;
    color: white;
}

.get-start-container {
    background-color: #9d8cfd;
    margin-bottom: 20px;
    text-align: center;
}

.get-start-container button {
    background-color: white;
    color: #9d8cfd;
}

.get-start-container :last-child {
    display: flex;
}

/* TABLET */

@media screen and (min-width: 768px) {

    .my-col-tablet-33 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-tablet-50 {
        width: calc(50% - 20px);
    }

    .my-col-tablet-66 {
        padding-bottom: 0;
        width: calc(((100% / 3) * 2) - 20px);
    }

    .testimonials-container > * {
        display: flex;
        align-items: center;
    }

    .testimonial-img-container {
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .testimonial-text-container {
        flex-grow: 1;
        text-align: left;
        padding: 20px;
    }

    .about-us-container {
        display: flex;
    }

    .about-us-container > :first-child {
        width: 70%;
    }

    .about-us-container > :last-child {
        width: 30%;
    }
}

/*DESKTOP */

@media screen and (min-width: 992px) {

    .my-col-desktop-33 {
        width: calc((100% / 3) - 20px);
    }
    
    #main-nav-container nav {
        display: block;
    }

    #main-nav-container .hamburger-container {
        display: none;
    }

    .first-card-container {
        display: flex;
    }

    .first-card-container > :first-child {
        width: 60%;
    }

    .first-card-container > :last-child {
        width: 40%;
    }

    .planning-container {
        padding: 0 80px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .planning-container > * {
        width: 48%;
    }
}